/* Generic */

html {
  font-size: 16px;
}

body {
  font-family: "Helvetica", sans-serif;
  color: #999;
  background-color: white;
  margin: 0px;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #333;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-only {
  display: none;
}

/* Header*/

header {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  align-items: center;
  align-content: center;
}

.header-title {
  font-size: 1.5rem;
}

.header-title-alt {
  font-weight: lighter;
  color: #999;
}

.header-logo {
  margin-left: 24px;
  height:75%;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-right: 1rem;
}

@media only screen and (max-width: 480px) {

  /* Mobile */


}

@media only screen and (max-width: 700px) {

  /* Custom media query for header as too wide. Set to below tablet default */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

  nav ul {
    display:flex;
    padding: 0px;
  }

  nav li {
    margin: auto;
  }

}
