
/* Generic */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #D3D3D3;
  background-color: #F5F5F5;
  margin: 0px;
  text-align: left;
}

h1, h2, h3, h4 {
  color: #333;
  font-weight: bold;
}

p {
  color: gray;
}
ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  margin-right: 1rem;
  color: #D3D3D3;
}

.mobile-only {
  display: none;
}

.bg-dark {
  background-color: #D3D3D3;
}

.bg-medium {
  background-color: #E8E8E8;
}

.card h3, .card p {
  margin: .5rem 0;
}

.card a {
  color: blue;
}

/* Header */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
  align-items: center;
  align-content: center;
}

.header-title {
  font-size: 1.5rem;
}

.header-title-alt {
  font-weight: lighter;
  color: #D3D3D3;
}

.header-logo {
  margin-left: 1.5rem;
  height:75%;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav a {
  color: #333;
}

/* Main Content */

.main-content {
  position: relative;
  padding-top: 4rem; /* To offset for fixed header. */
}

#learn h1, #thesis h1{
  text-align: center;
}

.info {
  display: block;
  justify-content: center;
  margin: 1rem;
  vertical-align: middle;
}
#banner {
  align-items: center;
}
.button {
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
  min-width: 100%;
  margin: .5rem 0;
}

#banner h4 {
  margin: 1.5rem 0;
}
#information h1 {
  margin-bottom: 1.5rem;
}
.main-content h1 {
  margin: 2rem 0;
}

.section {
  display: flex;
}

.img-container {
  margin: 2rem 1.5rem;
}

.img-container img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

video {
  display: block;
  max-width: 100%;
}


.quote {
  font-style: italic;
  margin: 1.5rem 0;
}
/* Banner */

#banner .img-container {
  max-width: 60%;
  min-width: 60%;
  height: auto;
}

/* Cards */

.card-stack {
  display: block;
}

.card-stack .card {
  display: flex;
  align-items: center;
  padding: 1rem;
  width:100%;
  height: 10.5rem;
  min-width: 423px;
  max-width: 423px;
}

.card-stack .img-container {
  max-width: 35%;
  min-width: 35%;
  height: auto;
  margin: 1rem;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card-grid .card {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: white;
  margin: 2rem 1rem;
}



.card-grid .img-container {
  margin: 0;
}

.card-grid .img {
  display: block;
  max-width: 100%;
}

.stack {
  flex-direction: column;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


@media only screen and (max-width: 700px) {

  /* Custom media query for header as too wide. Set to below tablet default */

  /* Generic */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  ul {
    display:flex;
    padding: 0px;
  }

  li {
    margin: auto;
  }

  .img-container {
    margin: 0;
  }
  /* Cards */

  .section {
    flex-direction: column;
  }

  #information .card {
    background-color: inherit;
  }

  .card-stack .card {
    display:block;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }


  .card-stack .img-container {
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    justify-content: center;
    height: auto;
  }

  .card-info {
    margin: 0 1rem;
  }

  #learn {
    background-color: inherit;
  }
  #learn .img-container, #learn p{
    display: none;
  }

  #learn .card-grid {
    display:block;

  }

  /* Banner */

  #banner .img-container {
    max-width: 100%;
    min-width: 100%;
    height: 11.25rem;
    overflow: hidden;
    justify-content: center;
  }

  #banner  {
    align-items: baseline;
  }

  .card-grid .card{
    margin: .5rem 0;
    min-width: 100%;
    max-width: 100%;
    background-color: #D3D3D3;
  }

}
